In [1]:
import pandas as pd

df = pd.read_csv("dataset.csv", index_col = "id") #Para que no aparezca el numeral que se tiene a√∫n lado
df #mostramos todos los datos de nuestro dataframe

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258
183728,Thank you guess how did I feel somewhat offend...,NaN,50.0,10.0,MEXICO,pedrojuarez,12.0,129
183729,OnePlus 8 international giveaway classifies,198.0,82.0,26.0,MEXICO,pedrojuarez,12.0,129
183730,Here it is.. Retweet this desperate,272.0,92.0,29.0,BRASIL,mateusmartins,982.0,1822
183731,Great to advertise during the year I tweeted a...,43.0,111.0,8.0,BRASIL,mateusmartins,982.0,1822
183732,Its been in love with the game with the origin...,349.0,44.0,19.0,BRASIL,mateusmartins,982.0,1822
183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
183734,I cannot believe this!,50.0,24.0,22.0,ECUADOR,leonardokuffo,389.0,258
183735,Buy this product NOW!!,418.0,24.0,2.0,MEXICO,gabrielcarvajal,21.0,2721
183736,I have one is best color gradients: Just relea...,361.0,92.0,1.0,MEXICO,pedrojuarez,12.0,129
183737,PIC!!,346.0,115.0,24.0,BRASIL,lucasperes,82.0,351
183738,hmmm feeling bad today,296.0,93.0,29.0,MEXICO,gabrielcarvajal,21.0,2721
183739,not feeling god right now,315.0,26.0,10.0,ECUADOR,galocastillo,332.0,378
183740,Programming is a hot topic!,133.0,145.0,15.0,BRASIL,lucasperes,82.0,351
183741,Programming? i love it!,92.0,146.0,1.0,ECUADOR,galocastillo,332.0,378
183742,WHAT???,255.0,73.0,17.0,ECUADOR,galocastillo,332.0,378
183743,Amazing video by Leonardo!,432.0,95.0,18.0,BRASIL,lucasperes,82.0,351
183744,Thanks man!,430.0,143.0,28.0,BRASIL,lucasperes,NaN,351
183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721
183747,I do not know if i like programming or other t...,318.0,58.0,20.0,BRASIL,isabelladasilva,928.0,9918

In [2]:
df.head() #Muestra solamente los primeros 5 primeros elementos

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [3]:
df.describe() #Nos muestra los calculos b√°sicos estadisticos pero necesarios para poder hacer un analisis de los datos sobre el dataframe 
#Contiene datos descriptivos

        favorites    retweets   mentions   followers    followees
count   26.000000   26.000000  26.000000   26.000000    27.000000
mean   280.538462   80.000000  15.423077  352.807692  1190.185185
std    153.377242   40.303846   9.596554  375.319493  1965.735995
min     23.000000   21.000000   1.000000   12.000000   129.000000
25%    139.250000   45.500000   8.250000   21.000000   258.000000
50%    305.500000   79.000000  16.000000  332.000000   351.000000
75%    422.500000  110.750000  23.500000  389.000000  1822.000000
max    500.000000  146.000000  29.000000  982.000000  9918.000000

Limpieza de datos

En el analisis de datos se necesita estar haciendo una limpieza para poder visualizar los datos m√°s facilmente
Por lo que tenemos diferentes forma de hacer dicha limpieza

In [4]:
#Limpieza de datos

df_filtrado = df.dropna()
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129
183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
183727,80's & friends! ‚úàÔ∏è,158.0,40.0,22.0,ECUADOR,leonardokuffo,389.0,258

Iniciemos primero con una funci√≥n de filtro/limpieza que es la funci√≥n .dropna()

Sintaxis:
dataframe.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

Donde:
axis: Especifica si se eliminan filas (0) o columnas (1). Por defecto es 0, es decir, filas.
how: Define si se eliminan las filas o columnas que contienen cualquier valor nulo ('any') o solo si todas las entradas son nulas ('all').
thresh: Indica el n√∫mero m√≠nimo de valores no nulos que deben estar presentes para que la fila o columna no sea eliminada.
subset: Permite especificar un subconjunto de columnas para la evaluaci√≥n.
inplace: Si es True, modifica el DataFrame original en lugar de devolver una copia del DataFrame sin los valores nulos.

In [6]:

df_filtrado = df.fillna(0)
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,0.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

Ahora tenemos la funci√≥n .fill( valor a reemplazar)

Esta funci√≥n, a comparaci√≥n que .dropna() hace que sustituye cada elemento "vacio" del dataframe por el valor que deseemos, esto es √∫til cuando queremos mantener las columnas o filas vacias para poder reutilizar o llenarlas m√°s adelante

In [7]:
df_filtrado = df.fillna({"retweets" : 0, "mentions": -1})
df_filtrado.head()

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183721,Flying home to run down from the power to comi...,23.0,0.0,10.0,ECUADOR,leonardokuffo,389.0,258
183722,Today we commemorate and MNML Case.,500.0,21.0,-1.0,BRASIL,mateusmartins,982.0,1822
183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

En este caso podemos realizar un peque√±o filtro para poder sustituir los datos en columnas dadas con ayuda de un diccionario
Sintaxis:

df_filtrado = dataframe.fillna({"nombre_columna":valor})

Filtrados

En ocaciones no ser√° necesario poder revisar los datos por completo de un dataframe, por lo que Pandas nos ayuda a poder extraer columnas en espec√≠fico con el simple echo de extraer una lista (columna)

Sintaxis:

dataframe['nombre_columna']

Cuando deseas traer m√°s de una columna, puedes usar la misma sintaxis pero manejarlo como si fuera una lista de listas

Sintaxis:

dataframe[['nombre_columna_1', 'nombre_columna_2', 'nombre_columna_3',.......,'nombre_columna_N']]

In [ ]:
#una sola columna
#df["favorites"]

#Varias columnas
df[['favorites', 'full_text']]

        favorites                                          full_text
id
183721       23.0  Flying home to run down from the power to comi...
183722      500.0                Today we commemorate and MNML Case.
183723      190.0       Today we have reached US$6.55 Billion TT$44‚Ä¶
183724      131.0  Faking It by Joel Atwell. Written by Other cou...
183725      113.0                                    Welcome back! üôå
183726      492.0  Contest: Win a fan of his ass. #thatisall Thanks!
183727      158.0                                 80's & friends! ‚úàÔ∏è
183728        NaN  Thank you guess how did I feel somewhat offend...
183729      198.0        OnePlus 8 international giveaway classifies
183730      272.0                Here it is.. Retweet this desperate
183731       43.0  Great to advertise during the year I tweeted a...
183732      349.0  Its been in love with the game with the origin...
183733      467.0                           Programming is the best!
183734       50.0                             I cannot believe this!
183735      418.0                             Buy this product NOW!!
183736      361.0  I have one is best color gradients: Just relea...
183737      346.0                                              PIC!!
183738      296.0                             hmmm feeling bad today
183739      315.0                          not feeling god right now
183740      133.0                        Programming is a hot topic!
183741       92.0                            Programming? i love it!
183742      255.0                                            WHAT???
183743      432.0                         Amazing video by Leonardo!
183744      430.0                                        Thanks man!
183745      424.0          There is nothing better than programming!
183746      488.0                                           BORED AF
183747      318.0  I do not know if i like programming or other t...

Filtrado por filas

En ocasiones no ser√° necesario filtrar por columnas sino por filas, esto suele llegar a ser m√°s practico si solamente queremos analizar datos en espec√≠ficos

Funci√≥n .iloc[]

Esta funci√≥n se dedica a regresarnos la fila completa que nostros le indiquemos, sin embargo, es bueno se√±alar que necesitamos conocer el indice de la fila que desemos, es decir, recordemos que cada fila est√° enumerado por un √≠ndice dado que va desde el 0 hasta N, donde N es el √∫ltimo elemento que tenemos

Sintaxis:
dataframe.iloc[indice_fila]

De igual forma podemos generar un rango de filas para poder analizarlas

Sintaxis:

dataframe.iloc[i:N]

Tengamos cuidado, ya que este √∫ltimo rango de filas se debe considerar que el rango de filas solamente llegar√° hasta N-1 fila en donde N es el m√°ximo de filas a las que llegaremos, es decir, si N=3, el rango de filas llegar√° hasta la fila 2, RECORDEMOS que se inicia en 0, como en otro tipo de estructura de datos

In [ ]:
df.iloc[0]

full_text    Flying home to run down from the power to comi...
favorites                                                 23.0
retweets                                                   NaN
mentions                                                  10.0
country                                                ECUADOR
user                                             leonardokuffo
followers                                                389.0
followees                                                  258
Name: 183721, dtype: object

Cabe mencionar que tambi√©n podemos hacer filtrados por indicadores de fila, usando la funci√≥n .loc[]

Sintaxis:

dataframe.loc[valor_identificador]

dataframe.loc[['identificador_1', 'identificador_2', .... , 'identificador_N]]  ---> esto tambi√©n se puede hacer mediante la funci√≥n .iloc[], hacer filtrado de filas en espec√≠fico

In [ ]:
df.loc[[183744, 183742, 183740]]

#nota: al correr el programos los resultados nos lo colca en el orden en como se coloco en la funci√≥n

,full_text,favorites,retweets,mentions,country,user,followers,followees
id,,,,,,,,
183744,Thanks man!,430.0,143.0,28.0,BRASIL,lucasperes,NaN,351
183742,WHAT???,255.0,73.0,17.0,ECUADOR,galocastillo,332.0,378
183740,Programming is a hot topic!,133.0,145.0,15.0,BRASIL,lucasperes,82.0,351